<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='HomePage.css') }}">
    <title>Options Pricing Models</title>
</head>
<body>
    <div class="pricingModelButtons">
        <button onclick="window.location.href='/BlackSL'">Black-Scholes Pricing Model</button>
        <button onclick="window.location.href='/MonteC'">Monte Carlo Pricing Simulation</button>
    </div>
</body>
</html>