<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}">
    <script src="{{url_for('static', filename='myscript.js')}}" defer></script>
    <title>Options Pricing</title>
</head>
<body>
    <div class="container">
        <div class="OptionsPricingCalc">
            <form id="formSubmission" method="POST" action="/calc">
                <h1>Black-Scholes Option Pricing Model</h1>
                <div class="ResultsDisplay">
                    <div class="result-card call">
                        <div class="result-label">CALL PRICE</div>
                        <div class="result-value">{{call_price}}</div>
                    </div>
                    <div class="result-card put">
                        <div class="result-label">PUT PRICE</div>
                        <div class="result-value">{{put_price}}</div>
                    </div>
                </div>
                <label for="stockPrice">Stock Price (S):</label>
                <input type="number" id="stockPrice" name="stockPrice" value="{{stockPrice}}" step="0.01" placeholder="Enter Current Price">
        
                <label for="strikePrice">Strike Price (X):</label>
                <input type="number" id="strikePrice" name="strikePrice" value="{{strikePrice}}" step="0.01" placeholder="Enter Strike Price">
        
                <label for="RFIR">Risk-Free Interest Rate (r):</label>
                <input type="number" id="RFIR" name="RFIR" value="{{RFIR}}" step="0.01" placeholder="Enter the Risk-Free Interest Rate">
        
                <label for="expiration">Time to Expire in Years (T):</label>
                <input type="number" id="expiration" name="expiration" value="{{expiration}}" step="0.01" placeholder="Enter the Expiration Time">
        
                <label for="volatility">Volatility (σ):</label>
                <input type="number" id="volatility" name="volatility" value="{{volatility}}" step="0.01" placeholder="Enter Specified Volatility">
        
                <button type="submit">CALCULATE</button>
            </form>
        </div>
        <div class="Heatmap">
            <form id="heatSubmission" method="POST" action="/heatmap">
                <div class="HeatmapParameters">
                    <h1>Heatmap Parameters</h1>
                    <div class="Parameters">
                        <div class="SPParameters">
                            <div class="MinSpCont">
                                <label for="minStockPrice">Minimum Stock Price</label>
                                <input type="number" id="minStockPrice" name="minStockPrice" value="{{minStockPrice}}" step="0.01">
                            </div>
                            <div class="MaxSpCont">
                                <label for="maxStockPrice">Maximum Stock Price</label>
                                <input type="number" id="maxStockPrice" name="maxStockPrice" value="{{maxStockPrice}}" step="0.01">
                            </div>
                        </div>
                        <div class="VolatilityParameters">
                            <div class="minVolCont">
                                <label for="minVolatility">Minimum Volatility</label>
                                <input id="minVolatility" name="minVolatility" type="range" min="0.01" max="{{minVolatility}}" step="0.01" value="{{minVolatility}}">
                                <p>
                                    <span>0.01</span>
                                    <span class="myNum1">{{minVolatility}}</span>
                                    <span>{{minVolatility}}</span>
                                </p>
                            </div>
                            <div class="maxVolCont">
                                <label for="maxVolatility">Maximum Volatility</label>
                                <input id="maxVolatility" name="maxVolatility" type="range" min="0.01" max="{{maxVolatility}}" step="0.01" value="{{maxVolatility}}">
                                <p>
                                    <span>0.01</span>
                                    <span class="myNum2">{{maxVolatility}}</span>
                                    <span>{{maxVolatility}}</span>
                                </p>
                            </div>
                        </div>                        
                    </div>
                    <button type="submit">GENERATE</button>
                </div>
            </form>
            <div class="HeatmapGraphs">
                <h1>Heatmaps</h1>
                <div class="Graphs">
                    <div class="CallHeatmap">
                        <h2>Call Prices Heatmap</h2>
                        <img src="{{ url_for('static', filename='heatmaps/' + call_heatmap) }}" alt="Call Prices Heatmap">
                    </div>
                    <div class="PutHeatmap">
                        <h2>Put Prices Heatmap</h2>
                        <img src="{{ url_for('static', filename='heatmaps/' + put_heatmap) }}" alt="Put Prices Heatmap">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
