<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='HomePage.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> 
    <title>Options Pricing Models</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Options Pricing Models</h1>
            <p>
                This website provides tools for calculating option prices using two popular models:
                the Black-Scholes model and the Monte Carlo simulation. These models help investors
                and traders estimate the fair value of options based on different market conditions
                and assumptions.
            </p>
            <p>
                Choose a model below to get started with pricing your options:
            </p>
        </header>
        <div class="models">
            <div class="model">
                <div class="content">
                    <h2>Black-Scholes</h2>
                    <p>The Black-Scholes model takes into account of 5 main parameters:</p>
                    <ul>
                        <li><span>Stock Price</span>: Current selling price of the asset</li>
                        <li><span>Strike Price</span>: Price at which you have the right to buy or sell an option</li>
                        <li><span>Time to Expiry</span>: Time left until the option expires</li>
                        <li><span>Volatility</span>: Degree of variation in a stock's price</li>
                        <li><span>Risk-free Interest Rate</span>: Theoretical returns on risk free investments eg. Government bonds</li>
                    </ul>
                    <p>This model uses a fairly simple mathematical and deterministic approach towards calculating
                        the price of a call or put option while assuming constant volatility and lognormal asset prices.
                    </p>
                </div>
                <div class="routingButton">
                    <button onclick="window.location.href='/BlackSL'">Black-Scholes Pricing Model</button>
                </div>
            </div>
            <div class="model">
                <div class="content">
                    <h2>Monte Carlo</h2>
                    <p>Monte Carlo simulation takes into account the same 5 parameters as Black-Scholes
                        and an additional 3 parameters.
                    </p>
                    <ul>
                        <li><span>Drift Term</span>: Expected return or the avg. rate of growth of the asset's price over time</li>
                        <li><span>Number of Steps</span>: Time intervals at which the price would fluctuate</li>
                        <li><span>Number of Simulation Paths</span>: Total number of possible paths an asset's price might take</li>
                    </ul>
                    <p>This model is mathematically complex and computationally intensive as it simulates numerous possible paths
                        the price of an asset may take, to estimate the price of an option.
                    </p>
                </div>
                <div class="routingButton">
                    <button onclick="window.location.href='/MonteC'">Monte Carlo Pricing Simulation</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
