<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='MonteC.css') }}">
    <script src="{{ url_for('static', filename='montescript.js') }}" defer></script>
    <title>Monte Carlo</title>
</head>
<body>
    <div class="header">
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('BlackSL')}}">Black-Scholes</a></li>
            <li><a href="{{url_for('MonteC')}}">Monte Carlo</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="OptionsPricingCalc">
            <!-- Form for Calculating Option Prices -->
            <form id="calculateForm" method="POST" action="/MonteC">
                <h1>Monte Carlo Pricing Simulation</h1>
                <div class="ResultsDisplay">
                    <div class="result-card call">
                        <div class="result-label">CALL PRICE</div>
                        <div class="result-value">{{ call_price }}</div>
                    </div>
                    <div class="result-card put">
                        <div class="result-label">PUT PRICE</div>
                        <div class="result-value">{{ put_price }}</div>
                    </div>
                </div>
                <div class="info">
                    This model uses random sampling and a stochastic volatility model (General Brownian Motion) 
                    to simulate the paths an asset's price might follow over time, allowing users to estimate the price 
                    of options more dynamically compared to the deterministic Black-Scholes model.
                </div>
                <label for="stockPrice">Stock Price (S):</label>
                <input class="dp" type="number" id="stockPrice" name="stockPrice" value="{{ stockPrice }}" step="0.01" placeholder="Enter Current Price">

                <label for="strikePrice">Strike Price (X):</label>
                <input class="dp" type="number" id="strikePrice" name="strikePrice" value="{{ strikePrice }}" step="0.01" placeholder="Enter Strike Price">

                <label for="RFIR">Risk-Free Interest Rate (r):</label>
                <input class="dp" type="number" id="RFIR" name="RFIR" value="{{ RFIR }}" step="0.01" placeholder="Enter the Risk-Free Interest Rate">

                <label for="expiration">Time to Expire in Years (T):</label>
                <input class="dp" type="number" id="expiration" name="expiration" value="{{ expiration }}" step="0.01" placeholder="Enter the Expiration Time">

                <label for="volatility">Volatility (σ):</label>
                <input class="dp" type="number" id="volatility" name="volatility" value="{{ volatility }}" step="0.01" placeholder="Enter Specified Volatility">

                <label for="drift">Drift Term (μ):</label>
                <input class="dp" type="number" id="drift" name="drift" value="{{ drift }}" step="0.01" placeholder="Enter a Specified Drift Term">
                
                <label for="steps">Number of Discrete Time Steps (n):</label>
                <input class="nodp" type="number" id="steps" name="steps" value="{{ steps }}" step="1" max="1000" placeholder="Enter specified Discrete Time Steps">

                <label for="simulations">Number of Simulations (M):</label>
                <input class="nodp" type="number" id="simulations" name="simulations" step="1" value="{{ simulations }}" max="1000" placeholder="Enter the number of Simulations">
                
                <button type="submit">CALCULATE</button>
            </form>
        </div>    
        <div class="GBMGraph">
            <h1>Simulation of paths</h1>
            <div class="info">
                Note: We would assume that σ and μ remains constant while introducing a random variable
                from a normal distribution with mean 0 to simulate randomness after the discretization
                of the GBM.
            </div>
            <div class="GraphMC">
                <img src="{{ url_for('static', filename='GBMgraph/' + gbm_graph) }}" alt="General Brownian Motion of asset prices">
            </div>
        </div>
</body>
</html>