<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='BlackSL.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('BlackSL')}}">Black-Scholes</a></li>
            <li><a href="{{url_for('MonteC')}}">Monte Carlo</a></li>
        </ul>
    </div>
    
</body>
</html>